.banner {
  width: 100%;
  height: 540px;
  position: relative;
}
.banner .banner_list {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background: url("../images/ban1.jpg");
  background-size: 100% 100%;
}
.ngh_gd {
  width: 100%;
  height: 500px;
  background: #fff;
}
.ngh_gd .ngh_gd_box {
  width: 1200px;
  height: 100%;
  margin: 0 auto;
  padding: 72px 114px;
  position: relative;
}
.ngh_gd .ngh_gd_box .ngh_gd_left {
  width: 114px;
  height: 100%;
  position: absolute;
  left: 0;
  top: 72px;
}
.ngh_gd .ngh_gd_box .ngh_gd_left h3 {
  width: 100%;
  height: 50px;
  border-bottom: 2px solid #44b790;
  color: #44b790;
  font-size: 24px;
  text-align: center;
  line-height: 50px;
}
.ngh_gd .ngh_gd_box .ngh_gd_left h6 {
  margin: 15px;
  color: #999;
  font-size: 16px;
}
.ngh_gd .ngh_gd_box .ngh_gd_contain {
  width: 972px;
  height: 100%;
  margin: 0 auto;
  position: relative;
}
.ngh_gd .ngh_gd_box .ngh_gd_contain .ngh_gd_p {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
}
.ngh_gd .ngh_gd_box .ngh_gd_contain .ngh_gd_p .ngh_tx {
  width: 210px;
  height: 100%;
  float: left;
}
.ngh_gd .ngh_gd_box .ngh_gd_contain .ngh_gd_p .ngh_tx img {
  display: block;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin: 160px auto;
}
.ngh_gd .ngh_gd_box .ngh_gd_contain .ngh_gd_p .gd_contain {
  width: 762px;
  height: 100%;
  float: left;
  padding: 100px 0;
  background: #fff;
}
.ngh_gd .ngh_gd_box .ngh_gd_contain .ngh_gd_p .gd_contain .ngh_y {
  width: 100%;
  height: 70px;
  line-height: 50px;
  color: #44b790;
  font-size: 90px;
}
.ngh_gd .ngh_gd_box .ngh_gd_contain .ngh_gd_p .gd_contain .ngh_title {
  width: 100%;
  height: 30px;
  font-size: 18px;
  color: #333;
  padding-left: 100px;
  font-weight: 500;
}
.ngh_gd .ngh_gd_box .ngh_gd_contain .ngh_gd_p .gd_contain .ngh_gd_text {
  width: 100%;
  padding: 0 100px;
  height: 108px;
  line-height: 1.8em;
  font-size: 16px;
  color: #8e8e8e;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.ngh_gd .ngh_gd_box .ngh_gd_right {
  width: 114px;
  height: 100%;
  position: absolute;
  right: 0;
  top: 72px;
}
.ngh_gd .ngh_gd_box .ngh_gd_right a {
  display: inline-block;
  width: 100%;
  color: #838383;
  height: 50px;
  line-height: 50px;
  font-size: 16px;
}
.ngh_gd .ngh_gd_box .ngh_gd_right ul {
  width: 100%;
  height: auto;
  padding-top: 80px;
}
.ngh_gd .ngh_gd_box .ngh_gd_right ul li {
  width: 100%;
  height: 40px;
  line-height: 32px;
  overflow: hidden;
  cursor: pointer;
}
.ngh_gd .ngh_gd_box .ngh_gd_right ul li span.g {
  display: inline-block;
  width: 20px;
  height: 2px;
  background: transparent;
  border-radius: 2px;
  float: left;
  margin: 0 10px;
  margin-top: 13px;
}
.ngh_gd .ngh_gd_box .ngh_gd_right ul li span.text {
  float: left;
  margin: 0 10px;
  color: #cacaca;
  font-size: 14px;
}
.ngh_gd .ngh_gd_box .ngh_gd_right ul li span.dian {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: #cacaca;
  float: left;
  margin: 0 10px;
  margin-top: 11px;
}
.ngh_fk {
  width: 100%;
  height: 500px;
  padding: 72px 0;
  position: relative;
}
.ngh_fk .bj {
  width: 100%;
  height: 300px;
  position: absolute;
  top: 0;
  left: 0;
  background: url("../images/ban2.jpg");
  background-size: 100% 100%;
}
.ngh_fk .ngh_fk_contain {
  width: 1200px;
  height: 100%;
  margin: 0 auto;
}
.ngh_fk .ngh_fk_contain .ngh_fk_title {
  display: inline-block;
  height: 50px;
  line-height: 50px;
  font-size: #44b790;
  font-size: 24px;
  border-bottom: 2px solid #44b790;
  color: #44b790;
  padding: 0 10px;
}
.ngh_fk .ngh_fk_contain h6 {
  margin: 15px 0;
  color: #999;
  font-size: 16px;
}
.ngh_fk .ngh_fk_contain .ngh_fk_contain {
  width: 1025px;
  height: 242px;
  margin: 40px auto;
}
.ngh_fk .ngh_fk_contain .ngh_fk_contain li {
  width: 220px;
  height: 242px;
  margin: 0 17px;
  background: #fff;
  float: left;
  box-shadow: 0 0 10px #ccc;
  cursor: pointer;
}
.ngh_fk .ngh_fk_contain .ngh_fk_contain li .imgbox {
  width: 100%;
  height: 150px;
}
.ngh_fk .ngh_fk_contain .ngh_fk_contain li .imgbox img {
  width: 100px;
  height: 100px;
  display: block;
  margin: 50px auto 0;
}
.ngh_fk .ngh_fk_contain .ngh_fk_contain li h6 {
  width: 100%;
  height: 40px;
  line-height: 40px;
  text-align: center;
  color: #cacaca;
  font-size: 18px;
}
.Say_box {
  width: 100%;
  height: auto;
  margin-top: 50px;
  overflow: hidden;
}
.Say_box .say_say {
  width: 50%;
  height: auto;
  float: left;
  padding-right: 20px;
}
.Say_box .say_say div.say_info {
  width: 100%;
  height: 40px;
}
.Say_box .say_say div.say_info img {
  width: 40px;
  height: 40px;
  float: left;
  border-radius: 50%;
}
.Say_box .say_say div.say_info .info {
  float: left;
  height: 40px;
  line-height: 40px;
}
.Say_box .say_say .say_title {
  width: 100%;
  height: 30px;
  margin: 20px 0;
  line-height: 30px;
  font-weight: 500;
  color: #333;
  font-size: 18px;
}
.Say_box .say_say p {
  width: 100%;
  height: 90px;
  line-height: 1.82em;
  font-size: 16px;
  color: #8e8e8e;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.Say_box .say_say .ckhfdz {
  width: 100%;
  height: 50px;
  line-height: 50px;
}
.Say_box .say_say .ckhfdz span {
  color: #8e8e8e;
  float: left;
  margin-right: 10px;
}
.Say_box .say_say .ckhfdz img {
  float: left;
  width: 30px;
  height: 30px;
  margin-top: 10px;
  margin-right: 10px;
  cursor: pointer;
}
.ngh_fk_contain {
  position: relative;
}
.ngh_fk_contain .mywk {
  position: absolute;
  display: inline-block;
  right: 0;
  top: 20px;
  height: 40px;
}
.ngh_fk_contain .mywk li {
  display: inline-block;
  padding: 0 20px;
  cursor: pointer;
  float: left;
  height: 40px;
  line-height: 40px;
}
.wk_box {
  width: 100%;
  height: 230px;
  margin-top: 50px;
}
.wk_box .wk_list {
  width: 20%;
  height: 230px;
  margin: 0 2.5%;
  border: 1px solid #e3ecf3;
  float: left;
  padding: 10px;
  cursor: pointer;
}
.wk_box .wk_list img {
  display: block;
  width: 100%;
  height: 140px;
}
.wk_box .wk_list .wk_title {
  width: 100%;
  height: 30px;
  line-height: 30px;
  font-size: 14px;
  color: #333;
  margin-top: 15px;
}
.wk_box .wk_list .wk_dy {
  width: 100%;
  height: 20px;
  line-height: 20px;
  overflow: hidden;
  margin-top: 6px;
}
.wk_box .wk_list .wk_dy img {
  width: 20px;
  height: 20px;
  margin-right: 5px;
  float: left;
}
.wk_box .wk_list .wk_dy span {
  color: #999;
  float: left;
  margin-right: 5px;
  font-size: 14px;
}
.ngh_link {
  width: 100%;
  height: 400px;
  background: url("../images/link.png");
  background-size: 100% 100%;
  cursor: pointer;
}
